<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Registration</h1>
<form action="/insert" method="post">
    {% csrf_token %}
    <input type="text" placeholder="Name" name="name">
    <input type="email" placeholder="Email" name="email">
    <input type="number" placeholder="Phone Number" name="phonenum">

    <button>Submit</button>
</form>
    <table>
        <thead>
        <tr>
            <th>NUMBER</th>
            <th>FIRST NAME</th>
            <th>EMAIL</th>
            <th>PHONE NO.</th>
            <th>EDIT</th>
            <th>DELETE</th>
        </tr>

{% for d in data %}
        <tr>
            <th>{{ d.id }}</th>
            <th>{{ d.name }}</th>
            <th>{{ d.email }}</th>
            <th>{{ d.phonenum }}</th>
            <td><a href="/update/{{d.id}}" type="button" class="btn btn-outline-warning">Edit</a></td>
            <td><a href="/delete/{{d.id}}" type="button" class="btn btn-outline-danger">Delete</a></td>

        </tr>
{% endfor %}
        </thead>
    </table>

</body>
</html>